@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btngradient{
  background: linear-gradient(270deg, #903AFF 0%, #D434FE 56.42%, #FF26B9 99.9%, #FE34B9);
}

@layer components {
  .btnprimary{
    @apply border-none outline-none text-white rounded-[0.25rem] text-lg lg:text-base;
  }
}